<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="authInitializer" class="de.lichtflut.rb.application.common.RBAuthModuleInitializer" />
    
    <bean id="authModule" class="de.lichtflut.rb.core.security.authserver.EmbeddedAuthModule">
        <constructor-arg index="0" ref="masterGate"></constructor-arg>
        <constructor-arg>
            <bean class="de.lichtflut.rb.application.extensions.RBDomainAuthInitializer"></bean> 
        </constructor-arg>
    </bean>
    
    <bean id="authService" class="de.lichtflut.rb.core.security.AuthenticationService"
        factory-bean="authModule" factory-method="getAuthenticationService">
    </bean>

</beans>