<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd" >
<wicket:panel>
    <ul class="bread-crumbs-bar">
   		<wicket:container wicket:id="linkList">
   			<li>
   		     	<a wicket:id="link">
   		     		<wicket:container wicket:id="label">[link]</wicket:container>
   		     	</a>
   		    </li>
   		</wicket:container>
   		<li>
		   	<a wicket:id="currentEntityLink" class="current">
		  		<wicket:container wicket:id="label">[link]</wicket:container>
		   	</a>
            <wicket:enclosure child="underConstructionHint">
                <span class="under-construction">
                    <wicket:container wicket:id="underConstructionHint">[under construction]</wicket:container>
                </span>
            </wicket:enclosure>
   		</li>
    </ul>
</wicket:panel>
</html>
