.DS_Store
target
derby.log
infinitest.args
.project
.classpath
.settings
.idea
.gitignore
.externalToolBuilders
maven-eclipse.xml
*.iml
*.ipr
*.iws
*.tmprojtest
*.tmproj
core/bin
webapp/bin
webck/bin
*/.checkstyle
*~*
infinitest.args
MANIFEST.MF
