<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

	<div class="pager section">
	
		<div class="pager-info">
			<span wicket:id="info">[found]</span>
			<span wicket:id="range">[range]</span>
			<span wicket:id="empty">[nothing found]</span>
		</div>
	
		<div wicket:id="pager" class="pager-links">
			<a wicket:id="previous">
				<wicket:message key="link.previous">[previous]</wicket:message>
			</a> 
			| 
			<a wicket:id="next">
				<wicket:message key="link.next">[next]</wicket:message>
			</a>
		</div>
	</div>
	
</wicket:panel>
</html>
