
.ck-resource-panel{
	background-color: #F5F5F5;
    margin: 10px auto;
    padding: 5px;
}


/* LINKS */

a {
	font-family: Helvetica, Arial;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* INPUT PANELS */

div.entity-display {
}

div.entity-display-fields {
	padding: 12px 0;
}

div.entity-field {
    width: 580px;
    clear: both;
    float: none;
    text-align: left;
}

div.entity-field .field-label {
    width:145px;
    padding: 2px 5px 0 0;
    float:left;
}

div.entity-field .field-values {
    float:left;
    margin: 0 5px 2px 0;
}

div.entity-field .field-values input {
	width:230px;
}

div.entity-field .field-operations {
    float: right;
}

div.entity-field .field-values input.resource-picker {
    width:370px;
}

div.button-bar {
	width: 100%;
	text-align: center;
	clear:both;
}

/* OUTPUT PANELS */

div.resource-info-panel {
	font-size: 12pt;
	padding: 2px 0;
}

div.list-browser {
	min-height: 120px;
	min-width: 80px;
	overflow: scroll;
	border: 1px solid #BBB;
}

div.list-browser ul {
	list-style: none;
}

/* ENTITY LIST-VIEW */

table.entity-list {
	width:700px;
}

/* RESOURCE PICKER */

input.resource-picker {
	width:200px;
}

.resource-picker-info{
    text-align:right;
    width:100%;
}

.resource-picker-value{
    float:left;
    color:red;  
}

/* WIDGETS */

div.rb-widget {
	border: 1px solid #777;
	background: #EEE;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}


