<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="wicketApplication" class="de.lichtflut.rb.websample.WebSampleApplication"/>

    <bean id="rbConfig" class="de.lichtflut.rb.core.RBConfig">
        <constructor-arg value="websample"></constructor-arg>
    </bean>

	<bean id="serviceProviderFactory" class="de.lichtflut.rb.core.services.impl.DefaultServiceProviderFactory">
		<constructor-arg ref="rbConfig"/>
	</bean>

	<bean id="provider" class="de.lichtflut.rb.core.services.ServiceProvider" scope="session"
			factory-bean="serviceProviderFactory" factory-method="create">
	</bean>
	
	<bean id="authService" class="de.lichtflut.rb.core.services.AuthenticationService"
			factory-bean="serviceProviderFactory" factory-method="getAuthenitcationService">
	</bean>
	
</beans>