<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

	<div class="common-background find-class-in-entity">

		<wicket:container wicket:id="header"></wicket:container>
		
		<div class="common-placement section">
			<form wicket:id="form">
			<div wicket:id="feedbackPanel"></div>
				<table>
					<tr>
						<td>What type are you looking for?</td>
						<td><wicket:container wicket:id="classPicker"></wicket:container></td>
					</tr>
					<tr>
						<td>Which instance should be the starting point?</td>
						<td><wicket:container wicket:id="entityPicker"></wicket:container></td>
					</tr>
					<tr>
						<td></td>
						<td><button wicket:id="search" class="default-button"><wicket:message key="button.search" /></button></td>
					</tr>
				</table>
			</form>
		</div>
		<div class="section common-placement common-margin">
			<wicket:container wicket:id="result"></wicket:container>
			<wicket:container wicket:id="noResults"></wicket:container>
		</div>
	</div>
	
</wicket:panel>
</html>
